<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    <script src="{{url_for('static',filename = 'main.js')}}" defer></script>
    <script defer src="https://use.fontawesome.com/faa35b4f3b.js"></script>
    <title>TodoList | Flask </title>
</head>
<body>
    <div class="container">
        <small class="header-text">Minimalist TodoList</small>
        <div class="main">
    <form method="POST" action="/add">
        <input autocomplete="off" name="title" type="text" class="center" placeholder="Add Todo..."/>        
        <button>Add Task</button>
    </form>
    </div>
    <br>
        <div class="todos">
            <input id="checked" type="checkbox">
            <small id="todo">Watch Movie</small>
            <a class="edit"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
        </div>
        <div class="todos">
            <input id="checked" type="checkbox">
            <small id="todo">Read Books</small>
            <a class="edit"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
        </div>
        <div class="todos">
            <input id="checked" type="checkbox">
            <small id="todo">Watch Anime</small>
            <a  class="edit"><i class="fa fa-edit"></i></a>
            <a><i class="fa fa-trash"></i></a>
        </div>
        {% for todo in todo_list%}
        <div class="todos">
            <input id="checked" type="checkbox">
            <small id="todo">{{todo.title}}</small>
            <a href="/update/{{todo.id}}" class="edit"><i class="fa fa-edit"></i></a>
            <a href="/delete/{{todo.id}}" class="delete"><i class="fa fa-trash"></i></a>
        </div>
        {% endfor%}
    </div>
</body>
</html>